body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #f4f4ff;
  margin: 0;
  padding: 0;
}


header {
  background: #e1f4f7;
  color: #535e70;
  padding: 30px;
  min-height: 10px;
  border-bottom: #4e6489 2px solid;
}

header a {
  color: #535e70;
  text-decoration: none;
  text-transform: uppercase;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  float: left;
  padding-left: 20px;
  padding-left: 20px;
}

.main-nav {
  float: right;
  margin-top: 4px;
}

header .current a {
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

#main {}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.articles {
  float: left;
  width: 65%;
}

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10-x;
  text-align: center;
}

.sidebar {
  float: right;
  width: 30%;
  padding-top: 10px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #535e70;
  background-color: #e1f4f7;
  text-align: center;
}